<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
  {{> './partials/header'}}
  <picture>
    <source type="image/webp" srcset="../images/dog-importing-an-asset.webp">
    <img src="../images/dog-importing-an-asset.jpg" alt="A dog carrying a flower just long enough for the photo before nearly eating it">
  </picture>
  <p>(party in the console)</p>
  <section id="themes">
    <h2>Themes</h2>
      <p id="active-theme"></p>
      <form action="" method="get">
        <fieldset>
          {{!-- radio option ids must match cases in applyThemeStyles --}}
          <ul>
            <li>
              <label for="daylight">Daylight 
                <input type="radio" name="theme" id="daylight">
              </label>
            </li>
            <li>
              <label for="midnight">Midnight 
                <input type="radio" name="theme" id="midnight">
              </label>
            </li>
          </ul>
        </fieldset>
      </form>
  </section>
</body>
</html>